:root {
    --base: #1f2022;
    --back: #3e4147;
    --front: #20bf55;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.base {
    background-color: var(--base);
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    min-width: 100vw;
    position: relative;
    overflow: hidden;
}

/*
mobile view port
*/

@media screen and (max-width: 900px) {
}
