.logo {
    display: flex;
    height: 100%;
    width: 100%;
    font-size: 2.7rem;
    font-weight: 900;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
}

.logo svg {
    width: 35px;
    height: 35px;
    padding: 0px 2px;
}

/*
mobile view port
*/

@media screen and (max-width: 900px) {
    .logo {
        font-size: 0;
    }

    .logo svg {
        width: 40px;
        height: 40px;
    }
}
