:root {
    --base: #1f2022;
    --back: #3e4147;
    --front: #20bf55;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: white;
}

.base {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: var(--base);
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
}

.robot-base {
    display: flex;
    width: 400px;
    height: 400px;
    position: relative;
    margin-top: 100px;
}

.robot {
    z-index: 3;
}

.gear {
    position: absolute;
}

.gear1 {
    left: 0px;
    top: 35px;
    z-index: 1;
}

.gear2 {
    left: 140px;
    bottom: 105px;
    z-index: 1;
}

.gear3 {
    z-index: 1;
    right: 57px;
    top: 45px;
}

.gear4 {
    z-index: 1;
    right: 0;
    top: 30px;
}

.gearinner1 {
    z-index: 10;
    top: 95px;
    left: 165px;
}

.gearinner2 {
    z-index: 10;
    top: 80px;
    left: 215px;
}

.gearinner4 {
    z-index: 10;
    top: 45px;
    left: 175px;
}

.oops svg {
    width: 50px;
    height: 50px;
}

.oops span {
    font-size: 3rem;
    font-weight: 800;
}

.quote {
    width: 60vw;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
}

a {
    text-decoration: none;
}

.control {
    display: flex;
    width: 60vw;
    justify-content: space-between;
    font-weight: 700;
}

/*
mobile view port
*/

@media screen and (max-width: 900px) {
    .base {
        background-size: 300px 300px;
    }

    .robot-base {
        display: flex;
        width: 300px;
        height: 300px;
        margin-top: 50px;
        margin-bottom: 40px;
    }

    .gear1 {
        width: 130px;
        left: 0px;
        top: 45px;
    }
    .gear2 {
        width: 100px;
        bottom: 20px;
        left: 105px;
    }

    .gear3 {
        width: 80px;
        right: 45px;
        top: 65px;
    }

    .gear4 {
        width: 50px;
        top: 60px;
    }

    .gearinner1 {
        width: 30px;
        top: 110px;
        left: 125px;
    }

    .gearinner2 {
        width: 30px;
        left: 160px;
        top: 100px;
    }
    .gearinner4 {
        width: 40px;
        left: 130px;
        top: 70px;
    }

    .quote {
        width: 80vw;
        margin-bottom: 20px;
    }

    .control {
        width: 95vw;
    }
}

/*
animations
*/

.gear1 {
    animation: spin 5s linear infinite;
}
.gear2 {
    animation: spin-back 20s linear infinite;
}

.gear3 {
    animation: flip-flop 2s ease infinite;
}

.gear4 {
    animation: flip-flop-back 2s ease infinite;
}

.gearinner1 {
    animation: spin 2s linear infinite;
}

.gearinner2 {
    animation: spin 3s linear infinite;
}

.gearinner4 {
    animation: spin-back 2s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes spin-back {
    100% {
        transform: rotateZ(-360deg);
    }
}

@keyframes flip-flop {
    50% {
        transform: rotateZ(180deg);
    }
}

@keyframes flip-flop-back {
    50% {
        transform: rotateZ(-180deg);
    }
}

#eye {
    animation: eye 10s linear infinite;
}

@keyframes eye {
    10% {
        transform: translateX(-10px);
    }

    20% {
        transform: translateX(-10px);
    }

    30% {
        transform: translateX(2px);
    }

    60% {
        transform: translateY(-3px);
    }

    70% {
        transform: translateX(-7px);
    }

    80% {
        transform: translateY(-5px);
    }

    90% {
        transform: translateX(2px);
    }
    100% {
        transform: translateX(0px);
    }
}
