.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    background-color: var(--blue);
    color: white;
    height: 70vh;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 15px 15px 0px 0px;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0px;
}

.signIn,
.signUp {
    position: relative;
    width: 30vw;
}

.heading {
    text-align: center;
    padding: 2px 0px;
}

form {
    height: 70%;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 60px 0px;
}

.group {
    display: flex;
    height: 15%;
    width: 100%;
    position: relative;
}

.group label {
    position: relative;
    left: 10px;
    line-height: 50px;
}

.group input {
    position: absolute;
    right: 0;
    height: 30px;
}

/* responsive */
@media screen and (max-width: 600px) {
    .container {
        width: 80vw;
        height: 600px;
        max-height: 70vh;
    }
}
