@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    padding: 0;
    margin: 0;
}

:root {
    --base: #0a142f;
    --blue: #0380fc;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--base);
    height: 250px;
    width: 100%;

    -webkit-clip-path: ellipse(92% 80% at 49% 99%);
    clip-path: ellipse(92% 80% at 49% 99%);
}

@media screen and (max-width: 600px) {
    .footer {
        width: 100vw;
    }
}
